.header {
  background-color: white;
  min-height: 50px;
  justify-content: center;
  display: flex;
  align-items: center;
  &__container {
    display: flex;
    justify-content: space-between;
    width: 95%;
    & div:last-child {
      width: 40px;
      height: 40px;
      background-color: rgb(194, 194, 194);
      cursor: pointer; 
    }
  }
}