@keyframes light-on-first-elem{
 14%{opacity: 0;}
 23%{opacity: 1;}
 30%{opacity: 0;}
 37%{opacity: 1;}
 44%{opacity:0;}
 51%{opacity:1;}
 70%{opacity: 0;}
 100% {opacity: 0;}
}
@keyframes light-on-center-item{
 0%{opacity: 0;}
 9%{opacity: 1;}
 18%{opacity:0;}
 100%{opacity:0;}
}
@keyframes light-on-second-row-item{
 0%{opacity: 0;}
 7%{opacity: 0;}
 16%{opacity:1;}
 25%{opacity: 0;}
 100%{opacity:0;}
}


@mixin contructor-loader-elem($z-index){
  position: absolute;
  background-color: #cfffff;
  top: 0;
  left:0;
  width: 2px;
  height: 2px;
  z-index: $z-index;
  border-radius: 100%;
}
@mixin anim-elem-loader($timing, $name){
  animation-name: $name;
  animation-duration: $timing;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}


.loader{
  background-color: $black;
  height: 85vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}
.loader__container--small{
  width: 22%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  .loader__element{
    position: relative;
    z-index:2;
    &--shadow-1{
      @include contructor-loader-elem(6);
      box-shadow: 0px 0px 9px 9px rgba(207,255,252,1);
    }
    &--shadow-2{
      @include contructor-loader-elem(5);
      box-shadow: 0px 0px 30px 20px rgba(45,134,152,1);
    }
    &--shadow-3{
      @include contructor-loader-elem(4);
      box-shadow: 0px 0px 60px 20px rgba(20,80,98,1);
    }
    &--shadow-4{
      @include contructor-loader-elem(3);
      box-shadow: 0px 0px 60px 45px rgba(12,43,55,1);
    }
    &--shadow-5{
      @include contructor-loader-elem(2);
      box-shadow: 0px 0px 80px 45px rgba(8,30,41,0.6);
    }
  }
  .loader__element--left-one{
    @include anim-elem-loader(3.5s, light-on-first-elem);
    margin-top: 8%;
    opacity: 0;
    transform: rotate3d(0.15,-1,0,40deg) scale(0.9);
  }
  .loader__element--left-two{
    @include anim-elem-loader(3.5s, light-on-second-row-item);
    opacity: 0;
    margin-top: 2%;
    transform: rotate3d(0.15,-1,0,20deg) scale(0.95);
  }
  .loader__element--right-one{
    @include anim-elem-loader(3.5s, light-on-first-elem);
    opacity: 0;
    margin-top: 8%;
    transform: rotate3d(0.15,1,0,40deg) scale(0.9);
  }
  .loader__element--right-two{
    @include anim-elem-loader(3.5s, light-on-second-row-item);
    opacity: 0;
    margin-top :2%;
    transform: rotate3d(0.15,1,0,20deg) scale(0.95);
  }
  .loader__element--center{
    @include anim-elem-loader(3.5s, light-on-center-item);
    opacity: 0;
    transform: rotate3d(0,0,0,0deg) scale(1);
  }
}