.home {
  width: 95%;
  margin: 0 auto;
  &__bullet {
    &__list {
      width: 40px;
      display: flex;
      justify-content: space-between;
    }
  }
  &__title {
    font-family: $font-normal;
    @include font-size(3.5);
    color: $black;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  &__undertitle {
    font-family: $font-normal;
    @include font-size(2.5);
    color: $black;
    font-weight: 400;
  }
  &__timer {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 50vh;
    &__box {
      display: flex;
      flex-direction: column;
      p:first-child {
        @include font-size(3.7);
        font-family: $font-normal;
        font-weight: 700;
        color: $black;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        height: 37px;
        .item {
          &__others{
            &--active {
              animation-name: itemRoolIn;
              animation-duration: 1s;
              animation-iteration-count: 1;
              animation-timing-function: linear;
              animation-fill-mode: forwards;
              @keyframes itemRoolIn {
                0% {
                  transform: translateY(0%);
                }
                50%{
                  transform: translateY(-120%);
                }
                50.01%{
                  transform: translateY(120%);
                }
                100% {
                  transform: translateY(0%);
                }
              }
            }
          }
          &__second {
            &--active {
              animation-name: seconds;
              animation-duration: 1s;
              animation-iteration-count: infinite;
              animation-timing-function: linear;
              animation-fill-mode: forwards;
              @keyframes seconds {
                0% {opacity: 0;}
                50%{opacity: 1}
                100% {opacity: 0;}
              }
            }
          }
        }
      }
      p:last-child {
        @include font-size(1.2);
        font-family: $font-normal;
        font-weight: 500;
        color: $black;
      }
      & > p {
        text-align: center;
      }
    }
  }
}