.bg {
  width: 100%;
  position: absolute;
  background-color: $red;
  height: 80vh;
}
.home {
  width: 95%;
  margin: 5vh auto 0 auto;
  position: relative;

  a {
    text-decoration: none;
  }
  &__cta {
    width: 90px;
    height: 90px;
    position: absolute;
    top: calc(90% - 45px);
    left: calc(90% - 45px);
    & > span{
      position: relative;
      width: 90px;
      height: 90px;
      display: inline-block;
      cursor: pointer;
      &:hover{
        &:after {
          width: 70%;
          height: 70%;
        }
      }
    &:after {
      content: "";
      position: absolute;
      width: 50%;
      top: 50%;
      transition: 0.25s cubic-bezier(.49,-0.72,.81,1.8);
      left: 50%;
      transform: translate(-50%,-50%);
      height: 50%;
      background-color: $black;
      color: $white;
      border-radius: 100%;
    }
    &:before {
      position: absolute;
      width: 100%;
      height: 100%;
      content: "";
      background-color: $white;
      border-radius: 100%;
      border: 1px solid $grey;
    }
    span {
      position: absolute;
      top: 50%;
      cursor: pointer;
      z-index: 1;
      left: 50%;
      transform: translate(-50%,-50%);
      color: $white;
    }
    }
  }
  &__contentTitle {
    font-family: $font-normal;
    @include font-size(5);
    color: $white;
    position: relative;
    font-weight: 700;
    text-decoration: none;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 120%;
      height: 5px;
      width: 20%;
      background-color: $white;
    }
  }
  &__content {
    width: 100%;
    height: 50vh;
    margin: 0 auto;
    position: relative;
    &--active {
      width: 100%;
      height: 100%;
      transition: 0.4s $easeInOutCubic;
    }
  }

  &__title {
    font-family: $font-normal;
    color: $black;
    @include font-size(2);
    font-weight: 700;
    margin-top: 10px;
    font-weight: 700;
    margin-bottom: 5px;
    text-align: center;
  }
  &__undertitle {
    font-family: $font-normal;
    @include font-size(1);
    color: $black;
    font-weight: 300;
    text-align: center;
  }
  &__timer {
    display: flex;
    background-color: $white;
    flex-direction: column;
    display: inline-block;
    padding: 20px;
    margin: 30px auto 0 auto;
    justify-content: space-between;
    -webkit-box-shadow: 8px 8px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 8px 8px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 8px 8px 5px 0px rgba(0,0,0,0.1);
    &__box {
      display: flex;
      flex-direction: column;
      margin-top: 15px;
      p:first-child {
        @include font-size(3.7);
        font-family: $font-normal;
        font-weight: 700;
        color: $black;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        height: 37px;
        .item {
          &__others{
            &--active {
              animation-name: itemRoolIn;
              animation-duration: 1s;
              animation-iteration-count: 1;
              animation-timing-function: linear;
              animation-fill-mode: forwards;
              @keyframes itemRoolIn {
                0% {
                  transform: translateY(0%);
                }
                50%{
                  transform: translateY(-120%);
                }
                50.01%{
                  transform: translateY(120%);
                }
                100% {
                  transform: translateY(0%);
                }
              }
            }
          }
          &__second {
            &--active {
              animation-name: seconds;
              animation-duration: 1s;
              animation-iteration-count: infinite;
              animation-timing-function: linear;
              animation-fill-mode: forwards;
              @keyframes seconds {
              }
            }
          }
        }
      }
      p:last-child {
        @include font-size(1.2);
        font-family: $font-normal;
        font-weight: 500;
        color: $black;
      }
      & > p {
        text-align: center;
      }
    }
  }
}