include ../partials/splash.pug
include ../partials/header-physique.pug
include ../partials/list-country.pug
div.bg
include ../partials/header.pug
div.content
    div.home__bg
    .home 
        .home__content
            h1.home__contentTitle Nike 
                br
                | Hyperadapt 1.0
            .home__contentImg
                img(src="", alt="")
            a(href="Page-produit.html", title="En savoir plus sur la chaussure").home__cta 
                span    
                    span +    
        div.home__timer
            div.home__timer__box
                p#entry0.days__value
                    span.item
                p.days__unit days
            div.home__timer__box
                p#entry1.hours__value
                    span.item
                p.days__unit hours
            div.home__timer__box
                p#entry2.days__value
                    span.item
                p.minutes__unit minutes
            div.home__timer__box
                p#entry3.seconds__value
                    span.item.item__second--active
                p.seconds__unit seconds


include ../partials/footer