include ../partials/header.pug
include ../partials/header-physique.pug



div.content
    .home
        h1.home__title HyperAdapt 1.0
        h2.home__undertitle Black-Blue Lagoon
        ul.home__bullet__list
            li.home__bullet__item
            li.home__bullet__item
            li.home__bullet__item
        div.home__timer
            div.home__timer__box
                p.days__value 11
                p.days__unit days
            div.home__timer__box
                p.hours__value 21
                p.days__unit hours
            div.home__timer__box
                p.days__value 24
                p.minutes__unit minutes
            div.home__timer__box
                p.seconds__value 19
                p.seconds__unit seconds


include ../partials/splash.pug
include ../partials/footer