include ../partials/header.pug
.productContent
    .productContent__visual
        img(src="../img/bck_product-page.jpg" alt="img product background")
        .product_contentvisualTitle
            h2 HyperAdapt 1.0
            span Reactive Lacing
    //.rotator
    .design
        h3 design
        p La Nike HYPER ADAPT 1.0 traduit des recherches approfondies en ingénniérie numérique, éléctrique et mécanique dans un produit conçu pour le mouvement.
    .creator
        h3 tinker hatfield
        p "La chaussure qui detecte ce que le corps à besoin"
        img(src="../img/tinker_hatflied.png" alt="img product background")
        p.creator__infos l'innovation chez Nike ne consiste pas à rever de demain. Il s'agit d'accelerer vers cela. Nous sommes en mesure d'anticiper les besoins des athlètes parce que nous les connaissons mieux que quiconque

    .shoesSize
        p.shoesSize__info sélectionner une pointure
        ul
            each size in ['37.5','38','38.5','39','40','40.5','41','42','42.5','43','44','44.5','45','45.5','45.5','46','47','47.5','48.5','49.5']
                li= 'EU ' + size
        a(href="https://www.nike.com/fr/launch/t/hyperadapt-1-0", target="_blank" title="En savoir plus sur la chaussure") Continuer

include ../partials/footer