<script type="text/javascript" src="js/script.js"></script>
.footer
    ul.footer__list
        div
            li.footer__list__item
                i.footer__list__flag <span>France</span>
                ul.footer__country
                    li.footer__country__item
                    li.footer__country__item
                    li.footer__country__item
            li.footer__list__item © 2017 Nik, Inc Tout droit reservés
        div
            li.footer__list__item conditions générales
            li.footer__list__item Paramètres de cookies
        div
            li.footer__list__item Politique de congidentialité et cookies
</body>
</html>