.country
    .country__back
    h2.country__logo
        include ../components/logo.pug
    h3.country__title Where can i
        span buy it ?
    ul.country__list
        each zone in [{country: 'Amerique du Nord', stores: ['New York', 'Boston', 'San Francisco', 'Québec', 'Toronto', 'Montréal']},{country: 'Europe', stores: ['France', 'Ireland', 'Suisse']} ]
            div
                div.country__list__plus
                    span
                    span
                h4.country__list__zone= zone.country
                ul.country__list__selector
                    each store in zone.stores
                        li= store.toUpperCase()