.loader
    .loader__
    .loader__container--small
        .loader__element.loader__element--left-one
            .loader__element--shadow-1
            .loader__element--shadow-2
            .loader__element--shadow-3
            .loader__element--shadow-4
            .loader__element--shadow-5
        .loader__element.loader__element--left-two
            .loader__element--shadow-1
            .loader__element--shadow-2
            .loader__element--shadow-3
            .loader__element--shadow-4
            .loader__element--shadow-5

        .loader__element.loader__element--center
            .loader__element--shadow-1
            .loader__element--shadow-2
            .loader__element--shadow-3
            .loader__element--shadow-4
            .loader__element--shadow-5

        .loader__element.loader__element--right-two
            .loader__element--shadow-1
            .loader__element--shadow-2
            .loader__element--shadow-3
            .loader__element--shadow-4
            .loader__element--shadow-5

        .loader__element.loader__element--right-one
            .loader__element--shadow-1
            .loader__element--shadow-2
            .loader__element--shadow-3
            .loader__element--shadow-4
            .loader__element--shadow-5