@font-face {
  font-family: 'Trade';
  src: url('../fonts/TradeGothicLT.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Trade';
  src: url('../fonts/TradeGothicLTBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Trade';
  src: url('../fonts/TradeGothicLTLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}