body {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

.content {
  min-height: 100vh;
  transition: 0.3s $easeInOutCubic;
  &--active{
    filter: blur(2px);
    transform: scale(0.85);
  }
}

.container {
  width: 95%;
  margin: 0 auto;
}

::selection {
  background-color: $black-light;
  color: $white;
}

::-webkit-scrollbar {
  width: 8px; /* for vertical scrollbars */
  height: 8px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: $black-light;
}