body {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

.content {
  min-height: 100vh;
  &--active{
    filter: blur(2px)
  }
}

::selection {
  background-color: #03fdfc;
  color: $black;
}

::-webkit-scrollbar {
  width: 8px; /* for vertical scrollbars */
  height: 8px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: #03fdfc;
}