/* 
colors
*/
$black: #000000;
$grey: #e9e9e9;
$grey-footer: #7a7b7b;

// Media queries
$s-width: 768px; // small width
$m-width: 992px; // medium width
$l-width: 1200px; // large width
$xl-width: 1600px; // xlarge width

$min-small-width: "only screen and (min-width:#{$s-width})";
$min-medium-width: "only screen and (min-width:#{$m-width})";
$min-large-width: "only screen and (min-width:#{$l-width})";

/*
include in your content like this

 p {
  font-size: 16px;

  @include tablet {
    font-size: 18px;
  }

  @include desktop {
    font-size: 20px;
  }
}

*/
// Fonts

$Avenir: 'AvenirNext', 'arial', 'sans-serif';
$font-normal: $Avenir;

@mixin font-size($sizeValue) {
  font-size: ($sizeValue * 10) + px;
  font-size: ($sizeValue/1.6) + rem;
}

// Transitions
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);
$easeInCubic: cubic-bezier(0.550, 0.055, 0.675, 0.190);
$easeOutCubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);

