/* 
colors
*/
$black: #000000;
$grey: #e9e9e9;
$grey-footer: #7a7b7b;
$black-light : rgb(40,40,40);
$white: #fff;
$red : #F63854;

// Media queries
$s-width: 768px; // small width
$m-width: 992px; // medium width
$l-width: 1200px; // large width
$xl-width: 1600px; // xlarge width

@mixin tablet {
    @media (min-width: #{$s-width}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$m-width}) {
        @content;
    }
}


/*
include in your content like this

 p {
  font-size: 16px;

  @include tablet {
    font-size: 18px;
  }

  @include desktop {
    font-size: 20px;
  }
}

*/
// Fonts

$proxima: 'Proxima', 'Arial', 'sans-serif';
$font-normal: $proxima;
$proximaCondensed: 'ProximaCondensed';

@mixin font-size($sizeValue) {
  font-size: ($sizeValue * 10) + px;
  font-size: ($sizeValue/1.6) + rem;
}

%center-content{
  display: flex;
  justify-content: center;
  align-items: center;
}

%background-gradient {
  background: -moz-linear-gradient(left, rgba(14,22,34,1) 0%, rgba(28,43,64,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(14,22,34,1)), color-stop(100%, rgba(28,43,64,1)));
background: -webkit-linear-gradient(left, rgba(14,22,34,1) 0%, rgba(28,43,64,1) 100%);
background: -o-linear-gradient(left, rgba(14,22,34,1) 0%, rgba(28,43,64,1) 100%);
background: -ms-linear-gradient(left, rgba(14,22,34,1) 0%, rgba(28,43,64,1) 100%);
background: linear-gradient(to right, rgba(14,22,34,1) 0%, rgba(28,43,64,1) 100%);
}

@mixin animation($name,$duration,$delay,$fillmode,$timing){
  animation-name: $name;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-fill-mode: $fillmode;
  animation-timing-function: $timing;
}

// Transitions
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);
$easeInCubic: cubic-bezier(0.550, 0.055, 0.675, 0.190);
$easeOutCubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);

